﻿@model StoreManagementSystem.Models.Genre

@{
    ViewBag.Title = "Browse";
}

<h2>Browse Music Categories</h2>

<p>Browse Genres: @Model.Name</p>

<ul>
    @{
        foreach (var album in Model.Albums)
        {
        <li>
        @Html.ActionLink(album.Title,
        "Details", new { id = album.AlbumId })
        </li>
        }
    }
</ul>



