﻿@model IEnumerable<StoreManagementSystem.Models.Genre>
@{
    ViewBag.Title = "Store Index";
}

<h2>Browse Genres</h2>

<p>
    Select from @Model.Count() genres:
</p>

<ul>
    @{
        foreach (var genre in @Model)
        {
            <li><a href="/Store/Browse?genre=@genre.Name">@genre.Name</a></li>
        }
    }
</ul>

